html, body 
{
	margin:0;
	padding:0;
	height:100%
}

#sidenav
{
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	width: 17%;
	overflow:auto;
	background:#ffffff;
	border-right: 1px solid #e1e1e1;
}

.menu, .menu ul 
{
	margin:0;
	padding:0;
	list-style:none;
}

.menu li 
{
	position:relative;
	z-index:1;
}

.menu p
{
	display:block;
	padding:5px 10px;
	color:#000;
	text-decoration:none;
	font-weight: bold;
}

.menu a 
{
	display:block;
	padding:5px 10px;
	color:#000;
	text-decoration:none;
}

.menu a:hover
{
	background:#f5f5f5;
}

.submenu a 
{
	display:block;
	padding:5px 25px;
	color:#000;
	text-decoration:none;
}

.menu ul {
	/*position:relative;
	left:0;
	top:-100%;
	z-index:-1;
	max-height:0;
	width:0;
	overflow:hidden;
	background:#ffffff;
	opacity:0;*/
	/*font-weight: normal !important;*/
	
}

.menu li.active > ul 
{
	top:0;
	z-index:2;
	opacity:1;
	width:100%;
	max-height:50em;
	width:100%;
	overflow:visible;
}

li.active > a
{
	background:#ffffff;
	color: #f44336;
	font-weight: bold;
}

#content {
    width: 83%;
    height: 100%;
    /*outline: 1px solid;*/
    position: absolute;
    right: 0;
    background: #ffffff;
}