
*
  {
   height:100%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #555773;
  }

body
 {
  margin: 0px;
  padding: 0px;
 }
 
#page
 {
  min-height:100%;
  position: relative;
  background-color: #ffffff;
 }
 
#sidenav {
    width: 15%;
    height: 100%;
    position: fixed;
    outline: 1px solid;
    background: red;
}
 
